#app {
    width: 500px;
    height:auto;
    

}
.table-container{
    height: 200px;
    overflow: scroll;
}

table {
    width: 100%;
}

.card-header {
    background-color: rgb(138, 76, 196);

}

.card-header p {
    color: white;
}

/* button.is-maudev {
    color: white;
    background-color: rgb(238, 69, 69) !important
} */

.has-text-maudev {
    color: rgb(238, 69, 69)
}

.price, .alarm{
    font-size: 12px;
}
