body{
    width: 500px !important;
}

#app {
    width: 500px;
    height:auto;
    

}
.table-container{
    height: 200px;
    overflow: scroll;
}

table {
    width: 100%;
}

.card-header {
    background-color: rgb(138, 76, 196);

}

.card-header p {
    color: white;
}

.has-text-maudev {
    color: rgb(238, 69, 69)
}

.price, .alarm{
    font-size: 12px;
}

.section {
    padding: 1.5rem 1.5rem !important;
}
.indicator i{
    font-size:20px !important;
}


.flip-container{
    perspective: 10000px;
    
}

.flipper{
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style:preserve-3d;
    position: relative;
    
}

.front, .config{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.config{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.flipper-on{
    transform:rotateY(180deg)
}

.config .section{
    /* border-style: solid;
    border-width: 1px; */
    width: 100%;
    height: 390px;
}

