#app {
    width: 500px;
    height:auto;
    

}
.table-container{
    height: 200px;
    overflow: scroll;
}

table {
    width: 100%;
}

.card-header {
    background-color: rgb(138, 76, 196);

}

.card-header p {
    color: white;
}

.has-text-maudev {
    color: rgb(238, 69, 69)
}

.price, .alarm{
    font-size: 12px;
}

.section {
    padding: 1.5rem 1.5rem !important;
}